LinkedIn_posts.json
{
  "name": "LinkedIn posts",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        0
      ],
      "id": "f4892f36-bd60-41ca-ba58-3420e0ac84c1",
      "name": "When chat message received",
      "webhookId": "33539c6b-e087-47b8-bf34-f89dad1c9aec"
    },
    {
      "parameters": {
        "url": "=https://google.com/complete/search?output=toolbar&gl=US&q= {{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        0
      ],
      "id": "036d0a9f-760c-4811-b6d7-804b5a7f81b9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        140,
        0
      ],
      "id": "00f67791-3b64-493d-9f89-2f3463c27c41",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "toplevel.CompleteSuggestion",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        360,
        0
      ],
      "id": "aca7c5da-081d-440f-b946-071ded91a099",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b967d94-cb9a-4639-8067-d09ab20801e4",
              "name": "Keywords",
              "value": "={{ $json.suggestion.data }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "9d56761a-3e64-42ce-aab4-a45a8b4e39cb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Keywords"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "8f31ea4d-d4db-4e87-a1d6-e4b70aa066e0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1020,
        0
      ],
      "id": "5cac8052-2ed0-448f-ba03-e20753c4f554",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=For each keyword {{ $json.Keywords }}create a Linkedin Post. No emojis, \nwrite in a natural tone.8th grade reading level .Write informative. Use a captivating hook."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1240,
        100
      ],
      "id": "7cb48ef8-0123-4946-8bcc-b14241665fe2",
      "name": "Linkedin Post Generator",
      "credentials": {
        "openAiApi": {
          "id": "GTo8unLVBI2pV8bK",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1540,
        340
      ],
      "id": "bf794437-c731-4aff-bdca-4a5695119924",
      "name": "Wait",
      "webhookId": "2ab9a85f-89bc-49d8-963c-62800e76f7b0"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.linkedinPosts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1620,
        100
      ],
      "id": "657a24cd-6d4d-40ca-b0dc-1652c16db032",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1P8kCtVoSQyHg7SGA1bc2GgO-R902xExQj0fo3TJ5RR8",
          "mode": "list",
          "cachedResultName": "Linkedin Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P8kCtVoSQyHg7SGA1bc2GgO-R902xExQj0fo3TJ5RR8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P8kCtVoSQyHg7SGA1bc2GgO-R902xExQj0fo3TJ5RR8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1840,
        100
      ],
      "id": "cfaf98bb-86d7-4682-a8e7-62e4383df852",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3uSsBHbgIY5Vct8l",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Linkedin Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Post Generator": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Linkedin Post Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "751ddcbf-5d16-4af2-9f7d-b54a2f297f44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d8038a564f4b881f91c721d425f54210813c664e0bebf306bc6bd8344e17110"
  },
  "id": "cF762BSN5Z9uGaPp",
  "tags": []
}